<div *ngIf="(accountService.curentUser$ | async) === null" class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>Napravite vasu ToDo listu</h1>
        <p class="lead">Sve sto morate da uradite jeste da se prijavite na sajt da bi napravili vasu ToDo listu!</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button> 
            <button class="btn btn-primary btn-lg mr-2">Vise informacije</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5" *ngIf="accountService.curentUser$ | async">
    Zdravoo
</div>